Q1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.
*
&#39;hello&#39;
-87.8
-
/
+
6

ans1.
values = &#39;hello&#39; , 6 , -87.8 

expressions = -, * , + , / ,

Q2. What is the difference between string and variable?

ans2 . 
string = string is the data that contain by the " " or ' ' commas . entered data between them is string .

variable = this are the words those assigned to the data or words those hold the data , data can be of any type ..

3. Describe three different data types.

ans3 . 

three data types are :- 

1. string = string hold data in "" any type of data writen in between of doble inverted commas is string .

2. integer = integer hold numeric data but without decimal .

3. list = list is the data cobined together between the [ ] square brackets and it can be any type of data .ex - string ,int , float etc

4. What is an expression made up of? What do all expressions do?

ans4 . 

expression is made up of values , operators , variables , parathensis . work of expression is to give one value after evaluating it . it can be any thing string,int,float,number.

5. This assignment statements, like spam = 10. What is the difference between an
expression and a statement?

ans 5 . 

statement - A statement is an instruction that python interpreter can execute . ex = 'spam = 10 '

expression - a expression is piece of code that evaluates or contains the value . ex = 'spam'

O6 .After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

ans 6.  23

Q7. 7. What should the values of the following two terms be?
'spam' + 'sapmspam'
'spam' * 3

ans 7.  'spamspamspam' will be the result for both .

Q8 . Why is eggs a valid variable name while 100 is invalid?

ans 8 . according to the variable rule . a variable will always start with alphabet or underscore .

    100 is starting with '1' numeric value that why it is not valid variable .

Q9. What three functions can be used to get the integer, floating-point number, or string
version of a value?

ans 9.    function that can be used for 

integer = int()

floating point no. = float()

string = str()

Q10. Why does this expression cause an error? How can you fix it?
&#39;I have eaten &#39; + 99 + &#39; burritos.&#39;

ans 10 . expression vause an error that you cannot add str value to int value .
to fix the code u have to convert int value to str value by putting it in inverted commas .

'i have eaten'+'99'+'burritos'